:root{
  --background: #00060e;
  --blue: #54c1e6;
  --dark-blue: #0051ff;
  --dark-yellow: #9a9f17;
  --yellow: #fee801;
  --teal: #39c4b6;
  --purple: #8900ff;
  --pink: #ff0677;
  --lime: #4bff21;
}

*{
  margin: 0;
  padding: 0;    
  box-sizing: border-box;
  font-family: 'courier new', courier, monospace;
}

.body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--background);
}

#canvas1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-color: #00060e;
}

.wrapper{   
  display: inline-block;
  position: flex; 
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'courier new', courier, monospace;
  font-size: 3rem;
  text-align: center;
  margin-top: 10%;
  margin-left: 40%;
  height: 20%;
  width: 20%;
  padding-top: 20%;
  border: 2px solid white;
  border-radius: 20px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.btn{
  position: relative;
  display: inline-block;
  font-family: 'courier new', courier, monospace;
  font-size: 3rem;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn:hover{
  background-color: white;
  color: var(--dark-blue);
  transform: scale(1.1);
  transition: all 0.3s ease;
}