:root{
  --background: #00060e;
  --blue: #54c1e6;
  --dark-blue: #0051ff;
  --dark-yellow: #9a9f17;
  --yellow: #fee801;
  --teal: #39c4b6;
  --purple: #8900ff;
  --pink: #ff0677;
  --lime: #4bff21;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: radial-gradient(#0051ff, #8900ff);
}